In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', 100)
df_oct = pd.read_csv("data/vumonic_india_food_delivery_20231001_20231031.csv", low_memory=False)
df_nov = pd.read_csv("data/vumonic_india_food_delivery_20231101_20231130.csv", low_memory=False)

# with open('data/vumonic_india_food_delivery_20231201_20231231.csv', 'r') as f:
#     first_line = f.readline()
# columns = first_line.replace('\n', '').split(',')
columns = df_nov.columns

df_dec = pd.read_csv('data/vumonic_india_food_delivery_20231201_20231231.csv', usecols=columns, encoding='latin-1', low_memory=False)

df = pd.concat([df_dec, df_nov, df_oct], ignore_index=True)
drop_columns = ['mid', 'sender_id', 'year', 'month', 'day', 'order_promotion_discount', 
                'order_coupon_discount', 'order_seller_discount', 'order_delivery_discount',
                'order_status', 'order_delivery_discount', 'delivery_address_postal_code', 
                'restaurant_address_postal_code', 'user_dob', 'user_address_postal_code', 'user_address_country']
df =  df.drop(drop_columns, axis=1)
df = df[df['user_age'] != 'male']

In [3]:
df = df.drop(['product_name',  'product_price', 'product_total', 'order_membership_fee', 'order_payment_type', 'order_payment_currency', 'restaurant_name', 'user_id'])

,transaction_id,company,email_timestamp,product_name,product_price,product_quantity,product_total,order_subtotal,order_convenience_fee,order_packaging_fee,order_delivery_fee,order_tip,order_taxes,order_membership_fee,order_discount,order_membership_discount,order_amount_paid,order_discount_code,premium_membership,premium_membership_type,free_delivery,order_payment_type,order_payment_currency,delivery_address_city,delivery_address_state,restaurant_name,restaurant_address_city,restaurant_address_state,user_id,user_gender,user_age,user_address_city,user_address_state,user_device_brand,user_device_model,user_os_type,user_onboard_at,user_inactive_at
0,bfa86dc42518cc98cb1f6a5dc3ac6a5d,swiggy,2023-12-01T00:08:24+00:00,Classic Chicken Roll,216.0,1.0,216.0,216.0,3.0,7.0,NaN,NaN,7.69,NaN,100.00,NaN,134.0,SWIGGYIT,True,swiggy_one,NaN,paytm,INR,bangalore,karnataka,Rollsking,bangalore,karnataka,edb4a1a7320232810d47fdf695fdbeb1,male,23.0,Bengaluru,Karnataka,samsung,SM-G781B,android,2023-07-10T11:03:52.000Z,NaN
1,bfa86dc42518cc98cb1f6a5dc3ac6a5d,swiggy,2023-12-01T00:08:24+00:00,Multigrain Laccha Paratha Roll,NaN,NaN,NaN,216.0,3.0,7.0,NaN,NaN,7.69,NaN,100.00,NaN,134.0,SWIGGYIT,True,swiggy_one,Free,paytm,INR,bangalore,karnataka,Rollsking,bangalore,karnataka,edb4a1a7320232810d47fdf695fdbeb1,male,23.0,Bengaluru,Karnataka,samsung,SM-G781B,android,2023-07-10T11:03:52.000Z,NaN
2,614f8a99775ff921f7360f4140a7ba11,swiggy,2023-12-01T00:10:41+00:00,Double Cheese Slice,NaN,NaN,NaN,256.0,3.0,10.0,NaN,NaN,8.84,NaN,99.99,NaN,178.0,FLATDEAL,True,swiggy_one,Free,bank,INR,hyderabad,telangana,Shrimmers,hyderabad,telangana,a13bf807ac3741ae6d118472115fef00,male,28.0,Hyderabad,Telangana,realme,RMX3395,android,2023-05-02T22:38:13.000Z,NaN
3,614f8a99775ff921f7360f4140a7ba11,swiggy,2023-12-01T00:10:41+00:00,Crispy Potato Burger,89.0,1.0,89.0,256.0,3.0,10.0,NaN,NaN,8.84,NaN,99.99,NaN,178.0,FLATDEAL,True,swiggy_one,NaN,bank,INR,hyderabad,telangana,Shrimmers,hyderabad,telangana,a13bf807ac3741ae6d118472115fef00,male,28.0,Hyderabad,Telangana,realme,RMX3395,android,2023-05-02T22:38:13.000Z,NaN
4,614f8a99775ff921f7360f4140a7ba11,swiggy,2023-12-01T00:10:41+00:00,Cheese Slice,NaN,NaN,NaN,256.0,3.0,10.0,NaN,NaN,8.84,NaN,99.99,NaN,178.0,FLATDEAL,True,swiggy_one,Free,bank,INR,hyderabad,telangana,Shrimmers,hyderabad,telangana,a13bf807ac3741ae6d118472115fef00,male,28.0,Hyderabad,Telangana,realme,RMX3395,android,2023-05-02T22:38:13.000Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741079,9838db546bd880398bae5e8de6a68c3b,swiggy,2023-10-26T19:23:37+00:00,Egg Curry 3 Eggs,200.0,1.0,200.0,330.0,3.0,20.0,9.0,NaN,13.35,NaN,124.99,NaN,250.0,SUPERSAVER,NaN,NaN,NaN,NaN,INR,eluru,andhra pradesh,Devi Homely Kitchen,NaN,andhra pradesh,50b87b56ac5691d53f45015e6484fbbf,male,28.0,Hyderabad,Telangana,samsung,SM-M405F,android,2020-03-22T03:29:32.000Z,NaN
741080,abfb444e117e7958b0b618ddcae44e39,swiggy,2023-10-29T10:37:05+00:00,Chicken Fry Piece Biryani Half,250.0,1.0,250.0,250.0,3.0,NaN,9.0,NaN,8.35,NaN,125.00,NaN,145.0,SWIGGYWEEKENDS,NaN,NaN,NaN,NaN,INR,eluru,andhra pradesh,Devi Homely Kitchen,NaN,andhra pradesh,50b87b56ac5691d53f45015e6484fbbf,male,28.0,Hyderabad,Telangana,samsung,SM-M405F,android,2020-03-22T03:29:32.000Z,NaN
741081,084f0df866d7928acf1c8f332184dec9,swiggy,2023-10-30T09:30:29+00:00,Chicken Fry Biryani,320.0,1.0,320.0,320.0,3.0,12.0,9.0,NaN,14.64,NaN,50.00,NaN,309.0,SWIGGYIT,NaN,NaN,NaN,NaN,INR,eluru,andhra pradesh,Royal Family Restaurant,NaN,andhra pradesh,50b87b56ac5691d53f45015e6484fbbf,male,28.0,Hyderabad,Telangana,samsung,SM-M405F,android,2020-03-22T03:29:32.000Z,NaN
741082,ad320c16a2e04078f50af1416107bda2,swiggy,2023-10-05T06:57:56+00:00,Veg Delight Pizza,109.0,3.0,327.0,327.0,NaN,NaN,NaN,NaN,10.79,NaN,40.00,NaN,187.0,SWIGGYIT,NaN,NaN,NaN,NaN,INR,indore,madhya pradesh,Chill Baby,indore,madhya pradesh,b68fb719a92cc48279b9644c6e671ab2,male,22.0,Indore,Madhya Pradesh,POCO,POCO M2 Pro,android,2020-04-30T04:04:02.000Z,NaN
741083,182b679125697bd33886fbae210186a4,swiggy,2023-10-05T07:02:55+00:00,Kaju Curry,160.0,1.0,160.0,160.0,NaN,NaN,21.0,NaN,NaN,NaN,80.00,NaN,101.0,TRYNEW,NaN,NaN,NaN,swiggy_money | mobikwik,INR,indore,madhya pradesh,shreeleela restaurant,NaN,madhya pradesh,b68fb719a92cc48279b9644c6e671ab2,male,22.0,Indore,Madhya Pradesh,POCO,POCO M2 Pro,android,2020-04-30T04:04:02.000Z,NaN

In [11]:
df['order_delivery_fee'].value_counts(dropna=False)

NaN       592924
32.00       4584
33.00       4294
35.00       4122
39.00       4102
           ...
240.00         1
166.00         1
94.50          1
219.00         1
102.75         1
Name: order_delivery_fee, Length: 422, dtype: int64

In [12]:
df[df['order_delivery_fee']==0]

Empty DataFrame
Columns: [transaction_id, company, email_timestamp, product_name, product_price, product_quantity, product_total, order_subtotal, order_convenience_fee, order_packaging_fee, order_delivery_fee, order_tip, order_taxes, order_membership_fee, order_discount, order_membership_discount, order_amount_paid, order_discount_code, premium_membership, premium_membership_type, free_delivery, order_payment_type, order_payment_currency, delivery_address_city, delivery_address_state, restaurant_name, restaurant_address_city, restaurant_address_state, user_id, user_gender, user_age, user_address_city, user_address_state, user_device_brand, user_device_model, user_os_type, user_onboard_at, user_inactive_at]
Index: []

In [13]:
df.columns[df.isna().any()].tolist()

['product_name',
 'product_price',
 'product_quantity',
 'product_total',
 'order_subtotal',
 'order_convenience_fee',
 'order_packaging_fee',
 'order_delivery_fee',
 'order_tip',
 'order_taxes',
 'order_membership_fee',
 'order_discount',
 'order_membership_discount',
 'order_amount_paid',
 'order_discount_code',
 'premium_membership',
 'premium_membership_type',
 'free_delivery',
 'order_payment_type',
 'delivery_address_city',
 'delivery_address_state',
 'restaurant_address_city',
 'restaurant_address_state',
 'user_gender',
 'user_age',
 'user_address_city',
 'user_address_state',
 'user_device_brand',
 'user_device_model',
 'user_os_type',
 'user_onboard_at',
 'user_inactive_at']