In [9]:
import pandas as pd

In [10]:
pd.set_option('display.max_columns', None)

In [11]:
df_oct = pd.read_csv("data/vumonic_india_food_delivery_20231001_20231031.csv", low_memory=False)
df_oct

,mid,transaction_id,company,sender_id,email_timestamp,year,month,day,product_name,product_price,product_quantity,product_total,order_subtotal,order_convenience_fee,order_packaging_fee,order_delivery_fee,order_tip,order_taxes,order_membership_fee,order_discount,order_promotion_discount,order_coupon_discount,order_seller_discount,order_delivery_discount,order_membership_discount,order_amount_paid,order_discount_code,premium_membership,premium_membership_type,order_status,free_delivery,order_payment_type,order_payment_currency,delivery_address_postal_code,delivery_address_city,delivery_address_state,restaurant_name,restaurant_address_postal_code,restaurant_address_city,restaurant_address_state,user_id,user_gender,user_age,user_dob,user_address_postal_code,user_address_city,user_address_state,user_address_country,user_device_brand,user_device_model,user_os_type,user_onboard_at,user_inactive_at
0,<p-PlUJgERv-faHo9xSKolw@geopod-ismtpd-6>,2bafc6263373d5fc97d4a5d35a367613,zomato,noreply@zomato.com,2023-10-06T15:44:40+00:00,2023,10,6,Garlic Breadsticks,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,148.55,NaN,NaN,NaN,delivered,NaN,NaN,INR,NaN,NaN,NaN,Dominos Pizza,NaN,pali,uttar pradesh,7ef1ea51f60f5c21e135252c84bacb04,male,22.0,2001.0,NaN,NaN,NaN,India,Lenovo,Lenovo K8 Plus,android,2020-05-24T01:29:18.000Z,NaN
1,<p-PlUJgERv-faHo9xSKolw@geopod-ismtpd-6>,2bafc6263373d5fc97d4a5d35a367613,zomato,noreply@zomato.com,2023-10-06T15:44:40+00:00,2023,10,6,Cheesy Dip,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,148.55,NaN,NaN,NaN,delivered,NaN,NaN,INR,NaN,NaN,NaN,Dominos Pizza,NaN,pali,uttar pradesh,7ef1ea51f60f5c21e135252c84bacb04,male,22.0,2001.0,NaN,NaN,NaN,India,Lenovo,Lenovo K8 Plus,android,2020-05-24T01:29:18.000Z,NaN
2,<ynJsOJL6RHy5nW298fGzHw@geopod-ismtpd-11>,6a4f897231e3c005fb3e9fb49db717bb,zomato,noreply@zomato.com,2023-10-09T09:30:21+00:00,2023,10,9,Luxury Chocolates Box Of 16,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1283.08,NaN,NaN,NaN,delivered,NaN,NaN,INR,560086.0,NaN,NaN,Smoor,560086.0,bangalore,karnataka,9a1a042c77ff4e05ff4f7e729c8dd1bc,female,40.0,1983.0,560001.0,Bengaluru,Karnataka,India,samsung,SM-S918B,android,2023-07-29T06:29:41.000Z,NaN
3,<0REYywGJTGyjfV2zky6c_w@geopod-ismtpd-0>,09af419de3d4014767d6ae48e04cb95f,zomato,noreply@zomato.com,2023-10-07T04:49:03+00:00,2023,10,7,Pongal,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,612.54,NaN,NaN,NaN,delivered,NaN,NaN,INR,NaN,NaN,NaN,Sree Krishna Kafe,NaN,bangalore,karnataka,624b92262b24315587aa183fe76032aa,male,46.0,1977.0,560001.0,Bengaluru,Karnataka,India,vivo,vivo 1818,android,2020-11-27T14:07:18.000Z,NaN
4,<0REYywGJTGyjfV2zky6c_w@geopod-ismtpd-0>,09af419de3d4014767d6ae48e04cb95f,zomato,noreply@zomato.com,2023-10-07T04:49:03+00:00,2023,10,7,Vada 1 Vada,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,612.54,NaN,NaN,NaN,delivered,NaN,NaN,INR,NaN,NaN,NaN,Sree Krishna Kafe,NaN,bangalore,karnataka,624b92262b24315587aa183fe76032aa,male,46.0,1977.0,560001.0,Bengaluru,Karnataka,India,vivo,vivo 1818,android,2020-11-27T14:07:18.000Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259546,<0100018b6d7131c3-7f3ab8ab-8b8f-487c-85ad-937f...,9838db546bd880398bae5e8de6a68c3b,swiggy,noreply@swiggy.in,2023-10-26T19:23:37+00:00,2023,10,26,Egg Curry 3 Eggs,200.0,1.0,200.0,330.0,3.0,20.0,9.0,NaN,13.35,NaN,124.99,NaN,NaN,NaN,NaN,NaN,250.00,SUPERSAVER,NaN,NaN,delivered,NaN,NaN,INR,534002.0,eluru,andhra pradesh,Devi Homely Kitchen,534002.0,NaN,andhra pradesh,50b87b56ac5691d53f45015e6484fbbf,male,28.0,1995.0,500004.0,Hyderabad,Telangana,India,samsung,SM-M405F,android,2020-03-22T03:29:32.000Z,NaN
259547,<0100018b7b0237ea-73a11225-254b-45d9-abb6-be30...,abfb444e117e7958b0b618ddcae44e39,swiggy,noreply@swiggy.in,2023-10-29T10:37:05+00:00,2023,10,29,Chicken Fry Piece Biryani Half,250.0,1.0,250.0,250.0,3.0,NaN,9.0,NaN,8.35,NaN,125.00,NaN,NaN,NaN,NaN,NaN,145.00,SWIGGYWEEKENDS,NaN,NaN,delivered,NaN,NaN,INR,534002.0,eluru,andhra pradesh,Devi Homely Kitchen,534002.0,NaN,andhra pradesh,50b87b56ac5691d53f45015e6484fbbf,male,28.0,1995.0,500004.0,Hyderabad,Telangana,India,samsung,SM-M405F,android,2020-03-22T03:29:32.000Z,NaN
259548,<0100018b7feb9ab2-edc5fca1-2b09-459b-bd37-748e...,084f0df866d7928acf1c8f332184dec9,swiggy,noreply@swiggy.in,2023-10-30T09:30:29+00:00,2023,10,30,Chicken Fry Biryani,320.0,1.0,320.0,320.0,3.0,12.0,9.0,NaN,14.64,NaN,50.00,NaN,NaN,NaN,NaN,NaN,309.00,SWIGGYIT,NaN,NaN,delivered,NaN,NaN,INR,534002.0,eluru,andhra pradesh,Royal Family Restaurant,534002.0,NaN,andhra pradesh,50b87b56ac5691d53f45015e6484fbbf,male,28.0,1995.0,500004.0,Hyderabad,Telangana,India,samsung,SM-M405F,android,2020-03-22T03:29:32.000Z,NaN
259549,<0100018afea0f355-84cfaeb6-532f-49e1-a837-3fd1...,ad320c16a2e04078f50af1416107bda2,swiggy,noreply@swiggy.in,2023-10-05T06:57:56+00:00,2023,10,5,Veg Delight Pizza,109.0,3.0,327.0,327.0,NaN,NaN,NaN,NaN,10.79,NaN,40.00,NaN,NaN,NaN,NaN,NaN,187.00,SWIGGYIT,NaN,NaN,delivered,NaN,NaN,INR,NaN,indore,madhya pradesh,Chill Baby,NaN,indore,madhya pradesh,b68fb719a92cc48279b9644c6e671ab2,male,22.0,2001.0,452001.0,Indore,Madhya Pradesh,India,POCO,POCO M2 Pro,android,2020-04-30T04:04:02.000Z,NaN
259550,<0100018afea585f1-98eb15f5-1c5f-4ab4-9645-19d8...,182b679125697bd33886fbae210186a4,swiggy,noreply@swiggy.in,2023-10-05T07:02:55+00:00,2023,10,5,Kaju Curry,160.0,1.0,160.0,160.0,NaN,NaN,21.0,NaN,NaN,NaN,80.00,NaN,NaN,NaN,NaN,NaN,101.00,TRYNEW,NaN,NaN,delivered,NaN,swiggy_money | mobikwik,INR,NaN,indore,madhya pradesh,shreeleela restaurant,NaN,NaN,madhya pradesh,b68fb719a92cc48279b9644c6e671ab2,male,22.0,2001.0,452001.0,Indore,Madhya Pradesh,India,POCO,POCO M2 Pro,android,2020-04-30T04:04:02.000Z,NaN

In [12]:
df_nov = pd.read_csv("data/vumonic_india_food_delivery_20231101_20231130.csv", low_memory=False)
df_nov

,mid,transaction_id,company,sender_id,email_timestamp,year,month,day,product_name,product_price,product_quantity,product_total,order_subtotal,order_convenience_fee,order_packaging_fee,order_delivery_fee,order_tip,order_taxes,order_membership_fee,order_discount,order_promotion_discount,order_coupon_discount,order_seller_discount,order_delivery_discount,order_membership_discount,order_amount_paid,order_discount_code,premium_membership,premium_membership_type,order_status,free_delivery,order_payment_type,order_payment_currency,delivery_address_postal_code,delivery_address_city,delivery_address_state,restaurant_name,restaurant_address_postal_code,restaurant_address_city,restaurant_address_state,user_id,user_gender,user_age,user_dob,user_address_postal_code,user_address_city,user_address_state,user_address_country,user_device_brand,user_device_model,user_os_type,user_onboard_at,user_inactive_at
0,<0100018b882f52b0-6b7330db-0beb-4d82-82d1-252d...,1ed363535e31e8db4e270d98d7ba66fa,swiggy,noreply@swiggy.in,2023-11-01T00:01:25+00:00,2023,11,1,Salt Pepper,NaN,NaN,NaN,277.0,3.0,NaN,NaN,NaN,11.41,NaN,80.0,NaN,NaN,NaN,NaN,NaN,212.00,TRYNEW,True,swiggy_one,delivered,Free,bank,INR,122003.0,gurgaon,haryana,Subway,NaN,gurgaon,haryana,157489057789e2d15e8eb09b3994aaa8,female,25.0,1998.0,110008.0,Delhi,National Capital Territory of Delhi,India,NaN,NaN,NaN,2020-10-15T20:06:03.000Z,NaN
1,<0100018b882f52b0-6b7330db-0beb-4d82-82d1-252d...,1ed363535e31e8db4e270d98d7ba66fa,swiggy,noreply@swiggy.in,2023-11-01T00:01:25+00:00,2023,11,1,Jalapenos,NaN,NaN,NaN,277.0,3.0,NaN,NaN,NaN,11.41,NaN,80.0,NaN,NaN,NaN,NaN,NaN,212.00,TRYNEW,True,swiggy_one,delivered,Free,bank,INR,122003.0,gurgaon,haryana,Subway,NaN,gurgaon,haryana,157489057789e2d15e8eb09b3994aaa8,female,25.0,1998.0,110008.0,Delhi,National Capital Territory of Delhi,India,NaN,NaN,NaN,2020-10-15T20:06:03.000Z,NaN
2,<0100018b882f52b0-6b7330db-0beb-4d82-82d1-252d...,1ed363535e31e8db4e270d98d7ba66fa,swiggy,noreply@swiggy.in,2023-11-01T00:01:25+00:00,2023,11,1,Capsicum,NaN,NaN,NaN,277.0,3.0,NaN,NaN,NaN,11.41,NaN,80.0,NaN,NaN,NaN,NaN,NaN,212.00,TRYNEW,True,swiggy_one,delivered,Free,bank,INR,122003.0,gurgaon,haryana,Subway,NaN,gurgaon,haryana,157489057789e2d15e8eb09b3994aaa8,female,25.0,1998.0,110008.0,Delhi,National Capital Territory of Delhi,India,NaN,NaN,NaN,2020-10-15T20:06:03.000Z,NaN
3,<0100018b882f52b0-6b7330db-0beb-4d82-82d1-252d...,1ed363535e31e8db4e270d98d7ba66fa,swiggy,noreply@swiggy.in,2023-11-01T00:01:25+00:00,2023,11,1,Tangy Paneer Tikka Sandwich,277.38,1.0,277.38,277.0,3.0,NaN,NaN,NaN,11.41,NaN,80.0,NaN,NaN,NaN,NaN,NaN,212.00,TRYNEW,True,swiggy_one,delivered,NaN,bank,INR,122003.0,gurgaon,haryana,Subway,NaN,gurgaon,haryana,157489057789e2d15e8eb09b3994aaa8,female,25.0,1998.0,110008.0,Delhi,National Capital Territory of Delhi,India,NaN,NaN,NaN,2020-10-15T20:06:03.000Z,NaN
4,<0100018b882f52b0-6b7330db-0beb-4d82-82d1-252d...,1ed363535e31e8db4e270d98d7ba66fa,swiggy,noreply@swiggy.in,2023-11-01T00:01:25+00:00,2023,11,1,Toasted n cheezy,NaN,NaN,NaN,277.0,3.0,NaN,NaN,NaN,11.41,NaN,80.0,NaN,NaN,NaN,NaN,NaN,212.00,TRYNEW,True,swiggy_one,delivered,Free,bank,INR,122003.0,gurgaon,haryana,Subway,NaN,gurgaon,haryana,157489057789e2d15e8eb09b3994aaa8,female,25.0,1998.0,110008.0,Delhi,National Capital Territory of Delhi,India,NaN,NaN,NaN,2020-10-15T20:06:03.000Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240562,<zzn3HwjoTTy9jUz6nISzIQ@geopod-ismtpd-1>,cf7f9314680bec040856f46ceceec619,zomato,noreply@zomato.com,2023-11-18T11:28:32+00:00,2023,11,18,Mixed fruit falooda,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116.29,NaN,NaN,NaN,delivered,NaN,NaN,INR,NaN,NaN,NaN,Haji Ali,NaN,kochi,kerala,a95fb947dcc0474dda0d6f3969f981d7,female,19.0,2004.0,682018.0,Kochi,Kerala,India,POCO,M2010J19CI,android,2023-05-15T02:19:01.000Z,NaN
240563,<zzvdjVKbQ0WZI2L5y5R_rg@geopod-ismtpd-5>,0e98f20c7f71de57dc16582de969db52,zomato,noreply@zomato.com,2023-11-12T16:11:44+00:00,2023,11,12,Paneer Butter Masala,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182.36,NaN,NaN,NaN,delivered,NaN,NaN,INR,NaN,NaN,NaN,ZBC Zabardast Biryani Corner,NaN,jamshedpur,jharkhand,cbe6437f0fe41adffe9b0023ac63c437,male,25.0,1998.0,831001.0,Jamshedpur,Jharkhand,India,OPPO,CPH2293,android,2023-06-05T03:35:35.000Z,NaN
240564,<zzvdjVKbQ0WZI2L5y5R_rg@geopod-ismtpd-5>,0e98f20c7f71de57dc16582de969db52,zomato,noreply@zomato.com,2023-11-12T16:11:44+00:00,2023,11,12,Tawa Roti,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182.36,NaN,NaN,NaN,delivered,NaN,NaN,INR,NaN,NaN,NaN,ZBC Zabardast Biryani Corner,NaN,jamshedpur,jharkhand,cbe6437f0fe41adffe9b0023ac63c437,male,25.0,1998.0,831001.0,Jamshedpur,Jharkhand,India,OPPO,CPH2293,android,2023-06-05T03:35:35.000Z,NaN
240565,<zzy8C6yBQjmPzjsrdVybEg@geopod-ismtpd-7>,8a3dcba628555f179b3f2100e0a32421,zomato,noreply@zomato.com,2023-11-26T03:09:30+00:00,2023,11,26,All Day Breakfast Combo,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,208.84,NaN,NaN,NaN,delivered,NaN,NaN,INR,NaN,NaN,NaN,Adigas,NaN,bangalore,karnataka,0cefe6fb661cff8ded99fbfc8405d1f2,male,32.0,1991.0,670001.0,Kannur,Kerala,India,OnePlus,KB2001,android,2023-08-11T16:46:36.000Z,NaN
240566,<zzz85rIURIi9-N9et5ewtw@geopod-ismtpd-5>,92b085b7ce4e84521639bd9ddc470f5c,zomato,noreply@zomato.com,2023-11-19T09:10:30+00:00,2023,11,19,Chana Bhatura,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,279.34,NaN,NaN,NaN,delivered,NaN,NaN,INR,160022.0,NaN,NaN,Doaba Sweets,160022.0,chandigarh,punjab,6fd50700e71489d0c560bb066c11cf65,male,23.0,2000.0,160036.0,Chandigarh,Chandigarh,India,Xiaomi,M2007J17I,android,2022-10-17T15:19:07.000Z,NaN

In [13]:
with open('data/vumonic_india_food_delivery_20231201_20231231.csv', 'r') as f:
    first_line = f.readline()
columns = first_line.replace('\n', '').split(',')

df_dec = pd.read_csv('data/vumonic_india_food_delivery_20231201_20231231.csv', usecols=columns, encoding='latin-1', low_memory=False)
df_dec

,mid,transaction_id,company,sender_id,email_timestamp,year,month,day,product_name,product_price,product_quantity,product_total,order_subtotal,order_convenience_fee,order_packaging_fee,order_delivery_fee,order_tip,order_taxes,order_membership_fee,order_discount,order_promotion_discount,order_coupon_discount,order_seller_discount,order_delivery_discount,order_membership_discount,order_amount_paid,order_discount_code,premium_membership,premium_membership_type,order_status,free_delivery,order_payment_type,order_payment_currency,delivery_address_postal_code,delivery_address_city,delivery_address_state,restaurant_name,restaurant_address_postal_code,restaurant_address_city,restaurant_address_state,user_id,user_gender,user_age,user_dob,user_address_postal_code,user_address_city,user_address_state,user_address_country,user_device_brand,user_device_model,user_os_type,user_onboard_at,user_inactive_at
0,<0100018c22b47fc7-027b0600-94e6-4ddc-b863-cced...,bfa86dc42518cc98cb1f6a5dc3ac6a5d,swiggy,noreply@swiggy.in,2023-12-01T00:08:24+00:00,2023,12,1,Classic Chicken Roll,216.0,1.0,216.0,216.0,3.0,7.0,NaN,NaN,7.69,NaN,100.00,NaN,NaN,NaN,NaN,NaN,134.00,SWIGGYIT,True,swiggy_one,delivered,NaN,paytm,INR,560100,bangalore,karnataka,Rollsking,560100,bangalore,karnataka,edb4a1a7320232810d47fdf695fdbeb1,male,23.0,2000.0,560076.0,Bengaluru,Karnataka,India,samsung,SM-G781B,android,2023-07-10T11:03:52.000Z,NaN
1,<0100018c22b47fc7-027b0600-94e6-4ddc-b863-cced...,bfa86dc42518cc98cb1f6a5dc3ac6a5d,swiggy,noreply@swiggy.in,2023-12-01T00:08:24+00:00,2023,12,1,Multigrain Laccha Paratha Roll,NaN,NaN,NaN,216.0,3.0,7.0,NaN,NaN,7.69,NaN,100.00,NaN,NaN,NaN,NaN,NaN,134.00,SWIGGYIT,True,swiggy_one,delivered,Free,paytm,INR,560100,bangalore,karnataka,Rollsking,560100,bangalore,karnataka,edb4a1a7320232810d47fdf695fdbeb1,male,23.0,2000.0,560076.0,Bengaluru,Karnataka,India,samsung,SM-G781B,android,2023-07-10T11:03:52.000Z,NaN
2,<0100018c22b697d9-16389dc8-7192-4fc9-94ef-b894...,614f8a99775ff921f7360f4140a7ba11,swiggy,noreply@swiggy.in,2023-12-01T00:10:41+00:00,2023,12,1,Double Cheese Slice,NaN,NaN,NaN,256.0,3.0,10.0,NaN,NaN,8.84,NaN,99.99,NaN,NaN,NaN,NaN,NaN,178.00,FLATDEAL,True,swiggy_one,delivered,Free,bank,INR,500003,hyderabad,telangana,Shrimmers,500061,hyderabad,telangana,a13bf807ac3741ae6d118472115fef00,male,28.0,1995.0,500037.0,Hyderabad,Telangana,India,realme,RMX3395,android,2023-05-02T22:38:13.000Z,NaN
3,<0100018c22b697d9-16389dc8-7192-4fc9-94ef-b894...,614f8a99775ff921f7360f4140a7ba11,swiggy,noreply@swiggy.in,2023-12-01T00:10:41+00:00,2023,12,1,Crispy Potato Burger,89.0,1.0,89.0,256.0,3.0,10.0,NaN,NaN,8.84,NaN,99.99,NaN,NaN,NaN,NaN,NaN,178.00,FLATDEAL,True,swiggy_one,delivered,NaN,bank,INR,500003,hyderabad,telangana,Shrimmers,500061,hyderabad,telangana,a13bf807ac3741ae6d118472115fef00,male,28.0,1995.0,500037.0,Hyderabad,Telangana,India,realme,RMX3395,android,2023-05-02T22:38:13.000Z,NaN
4,<0100018c22b697d9-16389dc8-7192-4fc9-94ef-b894...,614f8a99775ff921f7360f4140a7ba11,swiggy,noreply@swiggy.in,2023-12-01T00:10:41+00:00,2023,12,1,Cheese Slice,NaN,NaN,NaN,256.0,3.0,10.0,NaN,NaN,8.84,NaN,99.99,NaN,NaN,NaN,NaN,NaN,178.00,FLATDEAL,True,swiggy_one,delivered,Free,bank,INR,500003,hyderabad,telangana,Shrimmers,500061,hyderabad,telangana,a13bf807ac3741ae6d118472115fef00,male,28.0,1995.0,500037.0,Hyderabad,Telangana,India,realme,RMX3395,android,2023-05-02T22:38:13.000Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240961,<zzjCI4F5RrOq8UC-exjnsQ@geopod-ismtpd-1>,48b6d106d5e949451bb084e78a202fe3,zomato,noreply@zomato.com,2023-12-11T16:12:02+00:00,2023,12,11,Chicken Cheese Blast Pizza 8 inches,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,239.79,NaN,NaN,NaN,delivered,NaN,NaN,INR,700001,kolkata,west bengal,Pizza Place,700001,kolkata,west bengal,c78db76960ccd2c8fd25ad63ecb2d8be,male,22.0,2001.0,700047.0,Kolkata,West Bengal,India,OnePlus,MT2111,android,2023-03-04T17:13:09.000Z,NaN
240962,<zzrCqsruTVeSElL1qMW8-w@geopod-ismtpd-canary-0>,8ee6c37cd273ccf27810bf3a04975469,zomato,noreply@zomato.com,2023-12-13T15:11:18+00:00,2023,12,13,Chicken Zinger Burger - Classic with Cheese,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1478.80,NaN,NaN,NaN,delivered,NaN,NaN,INR,516001,kadapa,andhra pradesh,KFC,516001,kadapa,andhra pradesh,793163f03532a15317aa0ed4ab2575ed,male,39.0,1984.0,700059.0,Kolkata,West Bengal,India,NaN,NaN,NaN,2022-09-02T07:26:27.000Z,NaN
240963,<zzrCqsruTVeSElL1qMW8-w@geopod-ismtpd-canary-0>,8ee6c37cd273ccf27810bf3a04975469,zomato,noreply@zomato.com,2023-12-13T15:11:18+00:00,2023,12,13,Chicken Zinger Burger - Classic,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1478.80,NaN,NaN,NaN,delivered,NaN,NaN,INR,516001,kadapa,andhra pradesh,KFC,516001,kadapa,andhra pradesh,793163f03532a15317aa0ed4ab2575ed,male,39.0,1984.0,700059.0,Kolkata,West Bengal,India,NaN,NaN,NaN,2022-09-02T07:26:27.000Z,NaN
240964,<zzrCqsruTVeSElL1qMW8-w@geopod-ismtpd-canary-0>,8ee6c37cd273ccf27810bf3a04975469,zomato,noreply@zomato.com,2023-12-13T15:11:18+00:00,2023,12,13,Chicken Leg Piece - 1 pc,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1478.80,NaN,NaN,NaN,delivered,NaN,NaN,INR,516001,kadapa,andhra pradesh,KFC,516001,kadapa,andhra pradesh,793163f03532a15317aa0ed4ab2575ed,male,39.0,1984.0,700059.0,Kolkata,West Bengal,India,NaN,NaN,NaN,2022-09-02T07:26:27.000Z,NaN
240965,<zzrCqsruTVeSElL1qMW8-w@geopod-ismtpd-canary-0>,8ee6c37cd273ccf27810bf3a04975469,zomato,noreply@zomato.com,2023-12-13T15:11:18+00:00,2023,12,13,Smoky Red Grilled Chicken - 2 pc,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1478.80,NaN,NaN,NaN,delivered,NaN,NaN,INR,516001,kadapa,andhra pradesh,KFC,516001,kadapa,andhra pradesh,793163f03532a15317aa0ed4ab2575ed,male,39.0,1984.0,700059.0,Kolkata,West Bengal,India,NaN,NaN,NaN,2022-09-02T07:26:27.000Z,NaN

In [14]:
df = pd.concat([df_dec, df_nov, df_oct])
df = df[df['user_age'] != 'male']
df

,mid,transaction_id,company,sender_id,email_timestamp,year,month,day,product_name,product_price,product_quantity,product_total,order_subtotal,order_convenience_fee,order_packaging_fee,order_delivery_fee,order_tip,order_taxes,order_membership_fee,order_discount,order_promotion_discount,order_coupon_discount,order_seller_discount,order_delivery_discount,order_membership_discount,order_amount_paid,order_discount_code,premium_membership,premium_membership_type,order_status,free_delivery,order_payment_type,order_payment_currency,delivery_address_postal_code,delivery_address_city,delivery_address_state,restaurant_name,restaurant_address_postal_code,restaurant_address_city,restaurant_address_state,user_id,user_gender,user_age,user_dob,user_address_postal_code,user_address_city,user_address_state,user_address_country,user_device_brand,user_device_model,user_os_type,user_onboard_at,user_inactive_at
0,<0100018c22b47fc7-027b0600-94e6-4ddc-b863-cced...,bfa86dc42518cc98cb1f6a5dc3ac6a5d,swiggy,noreply@swiggy.in,2023-12-01T00:08:24+00:00,2023,12,1,Classic Chicken Roll,216.0,1.0,216.0,216.0,3.0,7.0,NaN,NaN,7.69,NaN,100.00,NaN,NaN,NaN,NaN,NaN,134.0,SWIGGYIT,True,swiggy_one,delivered,NaN,paytm,INR,560100,bangalore,karnataka,Rollsking,560100,bangalore,karnataka,edb4a1a7320232810d47fdf695fdbeb1,male,23.0,2000.0,560076.0,Bengaluru,Karnataka,India,samsung,SM-G781B,android,2023-07-10T11:03:52.000Z,NaN
1,<0100018c22b47fc7-027b0600-94e6-4ddc-b863-cced...,bfa86dc42518cc98cb1f6a5dc3ac6a5d,swiggy,noreply@swiggy.in,2023-12-01T00:08:24+00:00,2023,12,1,Multigrain Laccha Paratha Roll,NaN,NaN,NaN,216.0,3.0,7.0,NaN,NaN,7.69,NaN,100.00,NaN,NaN,NaN,NaN,NaN,134.0,SWIGGYIT,True,swiggy_one,delivered,Free,paytm,INR,560100,bangalore,karnataka,Rollsking,560100,bangalore,karnataka,edb4a1a7320232810d47fdf695fdbeb1,male,23.0,2000.0,560076.0,Bengaluru,Karnataka,India,samsung,SM-G781B,android,2023-07-10T11:03:52.000Z,NaN
2,<0100018c22b697d9-16389dc8-7192-4fc9-94ef-b894...,614f8a99775ff921f7360f4140a7ba11,swiggy,noreply@swiggy.in,2023-12-01T00:10:41+00:00,2023,12,1,Double Cheese Slice,NaN,NaN,NaN,256.0,3.0,10.0,NaN,NaN,8.84,NaN,99.99,NaN,NaN,NaN,NaN,NaN,178.0,FLATDEAL,True,swiggy_one,delivered,Free,bank,INR,500003,hyderabad,telangana,Shrimmers,500061,hyderabad,telangana,a13bf807ac3741ae6d118472115fef00,male,28.0,1995.0,500037.0,Hyderabad,Telangana,India,realme,RMX3395,android,2023-05-02T22:38:13.000Z,NaN
3,<0100018c22b697d9-16389dc8-7192-4fc9-94ef-b894...,614f8a99775ff921f7360f4140a7ba11,swiggy,noreply@swiggy.in,2023-12-01T00:10:41+00:00,2023,12,1,Crispy Potato Burger,89.0,1.0,89.0,256.0,3.0,10.0,NaN,NaN,8.84,NaN,99.99,NaN,NaN,NaN,NaN,NaN,178.0,FLATDEAL,True,swiggy_one,delivered,NaN,bank,INR,500003,hyderabad,telangana,Shrimmers,500061,hyderabad,telangana,a13bf807ac3741ae6d118472115fef00,male,28.0,1995.0,500037.0,Hyderabad,Telangana,India,realme,RMX3395,android,2023-05-02T22:38:13.000Z,NaN
4,<0100018c22b697d9-16389dc8-7192-4fc9-94ef-b894...,614f8a99775ff921f7360f4140a7ba11,swiggy,noreply@swiggy.in,2023-12-01T00:10:41+00:00,2023,12,1,Cheese Slice,NaN,NaN,NaN,256.0,3.0,10.0,NaN,NaN,8.84,NaN,99.99,NaN,NaN,NaN,NaN,NaN,178.0,FLATDEAL,True,swiggy_one,delivered,Free,bank,INR,500003,hyderabad,telangana,Shrimmers,500061,hyderabad,telangana,a13bf807ac3741ae6d118472115fef00,male,28.0,1995.0,500037.0,Hyderabad,Telangana,India,realme,RMX3395,android,2023-05-02T22:38:13.000Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259546,<0100018b6d7131c3-7f3ab8ab-8b8f-487c-85ad-937f...,9838db546bd880398bae5e8de6a68c3b,swiggy,noreply@swiggy.in,2023-10-26T19:23:37+00:00,2023,10,26,Egg Curry 3 Eggs,200.0,1.0,200.0,330.0,3.0,20.0,9.0,NaN,13.35,NaN,124.99,NaN,NaN,NaN,NaN,NaN,250.0,SUPERSAVER,NaN,NaN,delivered,NaN,NaN,INR,534002.0,eluru,andhra pradesh,Devi Homely Kitchen,534002.0,NaN,andhra pradesh,50b87b56ac5691d53f45015e6484fbbf,male,28.0,1995.0,500004.0,Hyderabad,Telangana,India,samsung,SM-M405F,android,2020-03-22T03:29:32.000Z,NaN
259547,<0100018b7b0237ea-73a11225-254b-45d9-abb6-be30...,abfb444e117e7958b0b618ddcae44e39,swiggy,noreply@swiggy.in,2023-10-29T10:37:05+00:00,2023,10,29,Chicken Fry Piece Biryani Half,250.0,1.0,250.0,250.0,3.0,NaN,9.0,NaN,8.35,NaN,125.00,NaN,NaN,NaN,NaN,NaN,145.0,SWIGGYWEEKENDS,NaN,NaN,delivered,NaN,NaN,INR,534002.0,eluru,andhra pradesh,Devi Homely Kitchen,534002.0,NaN,andhra pradesh,50b87b56ac5691d53f45015e6484fbbf,male,28.0,1995.0,500004.0,Hyderabad,Telangana,India,samsung,SM-M405F,android,2020-03-22T03:29:32.000Z,NaN
259548,<0100018b7feb9ab2-edc5fca1-2b09-459b-bd37-748e...,084f0df866d7928acf1c8f332184dec9,swiggy,noreply@swiggy.in,2023-10-30T09:30:29+00:00,2023,10,30,Chicken Fry Biryani,320.0,1.0,320.0,320.0,3.0,12.0,9.0,NaN,14.64,NaN,50.00,NaN,NaN,NaN,NaN,NaN,309.0,SWIGGYIT,NaN,NaN,delivered,NaN,NaN,INR,534002.0,eluru,andhra pradesh,Royal Family Restaurant,534002.0,NaN,andhra pradesh,50b87b56ac5691d53f45015e6484fbbf,male,28.0,1995.0,500004.0,Hyderabad,Telangana,India,samsung,SM-M405F,android,2020-03-22T03:29:32.000Z,NaN
259549,<0100018afea0f355-84cfaeb6-532f-49e1-a837-3fd1...,ad320c16a2e04078f50af1416107bda2,swiggy,noreply@swiggy.in,2023-10-05T06:57:56+00:00,2023,10,5,Veg Delight Pizza,109.0,3.0,327.0,327.0,NaN,NaN,NaN,NaN,10.79,NaN,40.00,NaN,NaN,NaN,NaN,NaN,187.0,SWIGGYIT,NaN,NaN,delivered,NaN,NaN,INR,NaN,indore,madhya pradesh,Chill Baby,NaN,indore,madhya pradesh,b68fb719a92cc48279b9644c6e671ab2,male,22.0,2001.0,452001.0,Indore,Madhya Pradesh,India,POCO,POCO M2 Pro,android,2020-04-30T04:04:02.000Z,NaN
259550,<0100018afea585f1-98eb15f5-1c5f-4ab4-9645-19d8...,182b679125697bd33886fbae210186a4,swiggy,noreply@swiggy.in,2023-10-05T07:02:55+00:00,2023,10,5,Kaju Curry,160.0,1.0,160.0,160.0,NaN,NaN,21.0,NaN,NaN,NaN,80.00,NaN,NaN,NaN,NaN,NaN,101.0,TRYNEW,NaN,NaN,delivered,NaN,swiggy_money | mobikwik,INR,NaN,indore,madhya pradesh,shreeleela restaurant,NaN,NaN,madhya pradesh,b68fb719a92cc48279b9644c6e671ab2,male,22.0,2001.0,452001.0,Indore,Madhya Pradesh,India,POCO,POCO M2 Pro,android,2020-04-30T04:04:02.000Z,NaN

In [15]:
df.columns

Index(['mid', 'transaction_id', 'company', 'sender_id', 'email_timestamp',
       'year', 'month', 'day', 'product_name', 'product_price',
       'product_quantity', 'product_total', 'order_subtotal',
       'order_convenience_fee', 'order_packaging_fee', 'order_delivery_fee',
       'order_tip', 'order_taxes', 'order_membership_fee', 'order_discount',
       'order_promotion_discount', 'order_coupon_discount',
       'order_seller_discount', 'order_delivery_discount',
       'order_membership_discount', 'order_amount_paid', 'order_discount_code',
       'premium_membership', 'premium_membership_type', 'order_status',
       'free_delivery', 'order_payment_type', 'order_payment_currency',
       'delivery_address_postal_code', 'delivery_address_city',
       'delivery_address_state', 'restaurant_name',
       'restaurant_address_postal_code', 'restaurant_address_city',
       'restaurant_address_state', 'user_id', 'user_gender', 'user_age',
       'user_dob', 'user_address_postal_code', 'user_address_city',
       'user_address_state', 'user_address_country', 'user_device_brand',
       'user_device_model', 'user_os_type', 'user_onboard_at',
       'user_inactive_at'],
      dtype='object')

In [16]:
print("Value counts of columns-")
for c in df.columns:
    vcount = df[c].value_counts(dropna=False)
    print(f"{c} has {len(vcount)} unique values:")
    if len(vcount) <= 25:
        print(vcount)
    else:
        print(vcount.head())
    print("------------------------------------------------")

Value counts of columns-
mid has 394120 unique values:
<0100018bc3083572-9ae8b25a-5db1-41bc-bcd3-353b7a8e9c2c-000000@email.amazonses.com>    60
<0100018cab718e85-b7298043-2145-44c2-8880-cc5815b2351f-000000@email.amazonses.com>    52
<0100018be9d87e31-465715bb-18dc-448d-b730-cff548501668-000000@email.amazonses.com>    48
<0100018b9548c1f5-24221678-67eb-452b-bfa1-bbc4968a2fc7-000000@email.amazonses.com>    48
<0100018b96a2eb26-a30e2b76-a1e5-4e76-8474-19b91cd7a127-000000@email.amazonses.com>    46
Name: mid, dtype: int64
------------------------------------------------
transaction_id has 394059 unique values:
03e72c21fb38e60510077a92b555d5b2    60
db21150660ca1a4747473a8620b63961    52
b2ad7e081e1f76a67c9346cb2c13bbfa    48
6e873cf718b3682af2732f690b60ba3f    48
c820349e0f71c2e8c590247e65a100b5    46
Name: transaction_id, dtype: int64
------------------------------------------------
company has 2 unique values:
swiggy    393367
zomato    347715
Name: company, dtype: int64
------------------------------------------------
sender_id has 2 unique values:
noreply@swiggy.in     393367
noreply@zomato.com    347715
Name: sender_id, dtype: int64
------------------------------------------------
email_timestamp has 379338 unique values:
2023-11-12T10:16:17+00:00    60
2023-12-27T13:23:15+00:00    52
2023-11-19T23:09:21+00:00    48
2023-11-03T13:04:16+00:00    48
2023-11-03T19:22:22+00:00    46
Name: email_timestamp, dtype: int64
------------------------------------------------
year has 1 unique values:
2023    741082
Name: year, dtype: int64
------------------------------------------------
month has 3 unique values:
10    259551
12    240964
11    240567
Name: month, dtype: int64
------------------------------------------------
day has 31 unique values:
8     27034
1     26299
24    26010
15    25871
10    25866
Name: day, dtype: int64
------------------------------------------------
product_name has 154303 unique values:
Chicken Biryani         5520
Butter Naan             4258
Masala Dosa             3698
Chicken Fried Rice      3433
Paneer Butter Masala    3049
Name: product_name, dtype: int64
------------------------------------------------
product_price has 7187 unique values:
NaN      414369
199.0      4283
90.0       3366
99.0       3188
180.0      3137
Name: product_price, dtype: int64
------------------------------------------------
product_quantity has 51 unique values:
1.0    571478
2.0     65925
NaN     63049
3.0     17286
4.0      9358
Name: product_quantity, dtype: int64
------------------------------------------------
product_total has 6011 unique values:
NaN      414369
199.0      6013
180.0      5711
120.0      5242
200.0      5088
Name: product_total, dtype: int64
------------------------------------------------
order_subtotal has 2270 unique values:
NaN      347720
200.0      5576
199.0      5396
180.0      4933
250.0      4768
Name: order_subtotal, dtype: int64
------------------------------------------------
order_convenience_fee has 26 unique values:
NaN     365496
3.00    331946
2.00     13972
2.54      7002
4.00      6633
Name: order_convenience_fee, dtype: int64
------------------------------------------------
order_packaging_fee has 1940 unique values:
NaN     483122
10.0     59877
15.0     18552
20.0     18178
25.0     14360
Name: order_packaging_fee, dtype: int64
------------------------------------------------
order_delivery_fee has 422 unique values:
NaN     592924
32.0      4584
33.0      4294
35.0      4122
39.0      4102
Name: order_delivery_fee, dtype: int64
------------------------------------------------
order_tip has 59 unique values:
NaN     729534
20.0      5729
30.0      2367
10.0      2163
50.0       791
Name: order_tip, dtype: int64
------------------------------------------------
order_taxes has 8545 unique values:
NaN     348613
0.54      3357
8.54      1759
9.54      1735
8.04      1545
Name: order_taxes, dtype: int64
------------------------------------------------
order_membership_fee has 24 unique values:
NaN      728320
3.0        6248
1.0        1820
149.0      1276
9.0         735
19.0        683
299.0       239
249.0       239
49.0        228
10.0        218
99.0        194
199.0       163
29.0        155
5.0         151
39.0        143
499.0       105
399.0        57
79.0         57
59.0         27
549.0        11
69.0          7
349.0         2
7.0           2
649.0         2
Name: order_membership_fee, dtype: int64
------------------------------------------------
order_discount has 4785 unique values:
NaN      457021
100.0     18063
80.0      16274
125.0     15500
120.0     15498
Name: order_discount, dtype: int64
------------------------------------------------
order_promotion_discount has 1 unique values:
NaN    741082
Name: order_promotion_discount, dtype: int64
------------------------------------------------
order_coupon_discount has 1 unique values:
NaN    741082
Name: order_coupon_discount, dtype: int64
------------------------------------------------
order_seller_discount has 1 unique values:
NaN    741082
Name: order_seller_discount, dtype: int64
------------------------------------------------
order_delivery_discount has 1 unique values:
NaN    741082
Name: order_delivery_discount, dtype: int64
------------------------------------------------
order_membership_discount has 2747 unique values:
NaN      722358
15.00       100
30.00        83
25.49        77
22.50        64
Name: order_membership_discount, dtype: int64
------------------------------------------------
order_amount_paid has 51271 unique values:
161.0    1919
193.0    1915
182.0    1821
172.0    1790
203.0    1701
Name: order_amount_paid, dtype: int64
------------------------------------------------
order_discount_code has 1551 unique values:
NaN              474141
SWIGGYIT          71249
TRYNEW            44300
MISSEDYOU         19710
WORLDCUPMANIA     13902
Name: order_discount_code, dtype: int64
------------------------------------------------
premium_membership has 2 unique values:
NaN     540496
True    200586
Name: premium_membership, dtype: int64
------------------------------------------------
premium_membership_type has 2 unique values:
NaN           540496
swiggy_one    200586
Name: premium_membership_type, dtype: int64
------------------------------------------------
order_status has 1 unique values:
delivered    741082
Name: order_status, dtype: int64
------------------------------------------------
free_delivery has 2 unique values:
NaN     674433
Free     66649
Name: free_delivery, dtype: int64
------------------------------------------------
order_payment_type has 24 unique values:
NaN                                392743
bank                               171489
creditdebit_card                    73236
cash                                49139
lazypay                             16381
cred                                11252
paytm                                9004
amazonpay                            7556
simpl                                2578
swiggy_money                         2508
mobikwik                             1867
paytm_postpaid                       1048
swiggy_money | bank                   677
phonepe                               583
swiggy_money | creditdebit_card       409
swiggy_money | cash                   218
swiggy_money | amazonpay              155
swiggy_money | cred                   115
swiggy_money | lazypay                 50
swiggy_money | paytm                   38
swiggy_money | mobikwik                23
swiggy_money | phonepe                  5
swiggy_money | paytm_postpaid           5
swiggy_money | paid_via                 3
Name: order_payment_type, dtype: int64
------------------------------------------------
order_payment_currency has 1 unique values:
INR    741082
Name: order_payment_currency, dtype: int64
------------------------------------------------
delivery_address_postal_code has 7399 unique values:
NaN       261438
560001     14741
400001     10252
110001      7893
500001      6538
Name: delivery_address_postal_code, dtype: int64
------------------------------------------------
delivery_address_city has 1090 unique values:
NaN          256471
bangalore     57818
mumbai        41151
hyderabad     36136
new delhi     36126
Name: delivery_address_city, dtype: int64
------------------------------------------------
delivery_address_state has 36 unique values:
NaN            283106
maharashtra     85425
karnataka       74497
tamil nadu      44974
telangana       37163
Name: delivery_address_state, dtype: int64
------------------------------------------------
restaurant_name has 55100 unique values:
McDonalds        25315
Subway           24555
Dominos Pizza    17772
Burger King      16696
KFC              13595
Name: restaurant_name, dtype: int64
------------------------------------------------
restaurant_address_postal_code has 6356 unique values:
NaN       342243
560001     14878
400001     10261
110001      7673
500001      6550
Name: restaurant_address_postal_code, dtype: int64
------------------------------------------------
restaurant_address_city has 1151 unique values:
bangalore    90788
NaN          68270
mumbai       59658
new delhi    51173
hyderabad    44666
Name: restaurant_address_city, dtype: int64
------------------------------------------------
restaurant_address_state has 36 unique values:
maharashtra    132918
karnataka      108097
tamil nadu      62100
NaN             55528
delhi           53714
Name: restaurant_address_state, dtype: int64
------------------------------------------------
user_id has 48084 unique values:
36379e1b42effdc4384ca734bc111045    686
75a35b8cb736dc2902a990f0f30df2e0    674
d2b3fe399341244cb936326cd6d26ee2    508
0c734abb4855442fe437665535abc84a    499
7b6cb04b0acc0e98cb3277930a2e900c    485
Name: user_id, dtype: int64
------------------------------------------------
user_gender has 4 unique values:
male      546912
female    160422
NaN        29390
other       4358
Name: user_gender, dtype: int64
------------------------------------------------
user_age has 114 unique values:
23.0    41662
24.0    33016
28.0    29498
27.0    29347
25.0    29284
Name: user_age, dtype: int64
------------------------------------------------
user_dob has 58 unique values:
2000.0    61635
1999.0    49681
1998.0    43779
1995.0    43627
1996.0    42943
Name: user_dob, dtype: int64
------------------------------------------------
user_address_postal_code has 2036 unique values:
110003.0    58218
560001.0    53595
400070.0    48457
NaN         38307
600002.0    29016
Name: user_address_postal_code, dtype: int64
------------------------------------------------
user_address_city has 1077 unique values:
Delhi        89043
Mumbai       86839
Bengaluru    85466
Hyderabad    62426
Chennai      57294
Name: user_address_city, dtype: int64
------------------------------------------------
user_address_state has 35 unique values:
Maharashtra                            133660
National Capital Territory of Delhi     94313
Karnataka                               91195
Tamil Nadu                              73292
Telangana                               64639
Name: user_address_state, dtype: int64
------------------------------------------------
user_address_country has 2 unique values:
India    740992
NaN          90
Name: user_address_country, dtype: int64
------------------------------------------------
user_device_brand has 77 unique values:
OnePlus    147412
samsung    136737
Apple       67737
NaN         61678
vivo        50107
Name: user_device_brand, dtype: int64
------------------------------------------------
user_device_model has 1602 unique values:
NaN              62365
unknown          34448
ONEPLUS A6000    14366
HD1901           14322
ONEPLUS A6010    14111
Name: user_device_model, dtype: int64
------------------------------------------------
user_os_type has 3 unique values:
android    611667
ios         67737
NaN         61678
Name: user_os_type, dtype: int64
------------------------------------------------
user_onboard_at has 48053 unique values:
2023-04-30T23:38:32.000Z    686
2021-10-18T07:50:59.000Z    674
2020-10-05T13:09:57.000Z    508
2022-02-11T20:07:55.000Z    499
2020-09-18T07:14:07.000Z    485
Name: user_onboard_at, dtype: int64
------------------------------------------------
user_inactive_at has 2203 unique values:
NaN                         728522
2023-10-20T07:53:12.223Z        80
2023-10-31T09:08:15.773Z        79
2023-12-31T06:00:20.233Z        78
2023-11-19T07:06:57.043Z        76
Name: user_inactive_at, dtype: int64
------------------------------------------------